.clear {
    clear:both;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header div.top {
    margin-right: 30px;
    border: 1px dotted red;
    padding: 30px;
    float: left;
}

header h2.top {
    border: 1px dotted red;
    float: left;
}

header .upset div { /* 역순이니 div 넣을시 참고 */
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px dotted red;
    float: right;
}

header a, a:link, a:visited {
    color: black;
    text-decoration: none;
}

header .main_list div{
    margin-top: 15px;
    margin-right: 20px;
    border: 1px dotted red;
    padding: 15px;
    float: left;
}

event div.main_box { /* 옆으로 이동하면서 보여줄 예정 */
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px dotted red;

    width: 100%;
    height: 200px;
}

rec div.main_box {
    margin-top: 10px;
    border: 1px dotted red;
    width: 100%;
    height: 400px;
    overflow: auto;

    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

rec .main_box_in div {
    margin: 10px;
    border: 1px dotted red;
    width: 400px;
    height: 85%;
    text-align: center;
    display: inline-block;
}

rec .main_box_in div:hover { 
    /* 마우스 올릴시 장바구니 담기, 상품 자세히보기 기능 추가할것 */
    background-color: gray;
    opacity: 0.7;
}

rank div.main_box { 
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px dotted red;

    width: 100%;
    height: 400px;
}


